<footer>
    <div class="info">
        <div class="item">
            <span class="info-title">Dirección</span>
            <span class="texto">Calle de los Laureles 123, Colonia Centro, Ciudad del Sol, Estado de la Esperanza,
                CP 45678, México.</span>
        </div>
        <div class="separator"></div>
        <div class="item">
            <span class="info-title">Contacto</span>
            <div class="icon-contact">
                <mat-icon matTooltip="Télefono">call</mat-icon>
                <mat-icon matTooltip="Email">mail</mat-icon>
            </div>
        </div>
    </div>
    <div class="copy">
        <span>© Rincón del libro 2024. Todos los derechos reservados.</span>
    </div>
</footer>