<main style="margin: auto; max-width: 80%;">
    <div *ngIf="listadoService.paginatedLibros.length > 0" class="grid-container">
        <div *ngFor="let libro of listadoService.paginatedLibros" class="grid-item">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>{{ libro.title }}</mat-card-title>
                    <mat-card-subtitle>{{ libro.authors }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="libro.image" [alt]="libro.title" class="book-image">
                <mat-card-content>
                    <p>{{ libro.subtitle }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="pagination-controls">
        <button mat-raised-button color="primary" (click)="onPrevPage()"
            [disabled]="listadoService.page === 1">Anterior</button>
        <span>Página {{ listadoService.page }}</span>
        <button mat-raised-button color="primary" (click)="onNextPage()"
            [disabled]="listadoService.page * listadoService.ITEMS_PER_PAGE >= listadoService.total">Siguiente</button>
    </div>
</main>