<section>
    <div class="container">
        <mat-card>
            <mat-tab-group animationDuration="2000ms" fitInkBarToContent>
                <mat-tab label="Iniciar sesión">
                    <div class="tab-content">
                        <h4>Acceder</h4>
                        <mat-hint style="color: white;">{{mensajeLogin}}</mat-hint>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <mat-form-field appearance="fill">
                                <mat-label>Correo</mat-label>
                                <input matInput formControlName="email" placeholder="Email" required>
                                <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                                    Email inválido.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Contraseña</mat-label>
                                <input matInput type="password" formControlName="password" placeholder="Password"
                                    required>
                                <mat-error
                                    *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                                    Contraseña inválida.
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Registrarse">
                    <div class="tab-content">
                        <h4>Registro</h4>
                        <mat-hint style="color: white;">{{mensajeRegistro}}</mat-hint>
                        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                            <mat-form-field appearance="fill">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" placeholder="Nombre" required>
                                <mat-error
                                    *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched">
                                    Nombre es requerido.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" placeholder="Email" required>
                                <mat-error
                                    *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                                    Email es requerido.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Contraseña</mat-label>
                                <input matInput type="password" formControlName="password" placeholder="Password"
                                    required>
                                <mat-error
                                    *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                                    Contraseña es requerida.
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button color="primary" type="submit">Registrar</button>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</section>