<h3 mat-dialog-title>{{ data.title }}</h3>
<mat-dialog-content>
    <img [src]="data.image" [alt]="data.title" class="book-image">
    <p><strong>Subtitulo:</strong> {{ data.subtitle }}</p>
    <p><strong>Autor:</strong> {{ data.authors }}</p>
    <p><strong>Publisher:</strong> {{ data.publisher }}</p>
    <p><strong>Año:</strong> {{ data.year }}</p>
    <p><strong>Paginas:</strong> {{ data.pages }}</p>
    <p><strong>Descripcion:</strong> {{ data.description }}</p>
</mat-dialog-content>
<mat-dialog-actions>
</mat-dialog-actions>